version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile-backend
    image: pharmacia-app:lates
    container_name: pharmacia-app
    depends_on:
      mysql:
        condition: service_healthy
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/farmacia_oo?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
      SPRING_DATASOURCE_USERNAME: pharmacia
      SPRING_DATASOURCE_PASSWORD: pharmacia_pass
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_JPA_HIBERNATE_DIALECT: org.hibernate.dialect.MySQLDialect
      SPRING_DATA_MONGODB_URI: mongodb://mongodb:27017/farmacia_oo
      SPRING_DATA_MONGODB_DATABASE: farmacia_oo
      SPRING_DATA_MONGODB_HOST: mongodb
      SPRING_DATA_MONGODB_PORT: 27017

      JAVA_OPTS: -Xms256m -Xmx512m
    ports:
      - "8080:8080"
    networks:
      - backend
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/actuator/health"]
      interval: 30s
      timeout: 5s
      retries: 5
      start_period: 40s

  frontend:
      container_name: pharmacia-frontend
      build:
        context: .
        dockerfile: Dockerfile-frontend
      networks:
        - backend
      ports:
        - "5173:80"

  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27018:27017"
    volumes:
      - mongodb_data:/data/db
      - ./init-scripts:/docker-entrypoint-initdb.d
    environment:
      - MONGO_INITDB_DATABASE=farmacia_oo
    restart: unless-stopped
    networks:
      - backend

  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: unless-stopped
    depends_on:
      mongodb:
        condition: service_started
    environment:
      MYSQL_ROOT_PASSWORD: root_pass
      MYSQL_DATABASE: farmacia_oo
      MYSQL_USER: pharmacia
      MYSQL_PASSWORD: pharmacia_pass
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3307:3306"
    healthcheck:

      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-proot_pass"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - backend

networks:
  backend:
    driver: bridge

volumes:
  mysql_data:
  mongodb_data:
      driver: local